button {
    background-color: #721834;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: inherit;
    border-radius: 100px;
    font-weight: 600;
    margin: 0 20px;
}

button:hover {
    background-color: #721834;
    cursor: pointer;
}

div {
    margin: 30px;
    text-align: center;
}