<div class="center">
    <div *ngFor="let order of orders" class="wrapper">
        <div>Status: {{order.status}}</div>
        <app-cart-item *ngFor="let item of order.items" [item]="item" [statusOnly]="true"></app-cart-item>
        
        <input type="button" value="Set status: Ready to Cook" (click)="setStatus(order.id, 'Ready to Cook')"/>
        <input type="button" value="Set status: Cooking" (click)="setStatus(order.id, 'Cooking')" />
        <input type="button" value="Set status: Ready" (click)="setStatus(order.id, 'Ready')" />
    </div>
</div>
